*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #141e30;
    min-height: 100vh;
  }
  .cabecalho header  nav .menu{
      padding: 10px 10px;
  }
  .cabecalho header .menu{
    padding: 2.5%;
    padding-top: 0;
    padding-bottom: 0;
    background-color:#243b55;
    height: 8%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.cabecalho header .menu{
    text-decoration: none;
    color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    transition: all ease .2s;
}
.cabecalho header .menu .logo{
    font-size: 2.5em;
    font-weight: 600;
    margin-right: 10%;
    letter-spacing: 2px;
}

.cabecalho header .menu a{
    text-decoration: none;
}
.cabecalho header .menu a:hover{
    color: #594433;
}

#li-busca{
    width: 30%;
}

.cabecalho header .menu #busca{
    /* width: 15%; */
    line-height: 26px;
    padding: 10px 20px;
    height: 46px;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    padding-left: 46px;
    font-size: 16px;
    background-color: #f6f6f6;
    cursor: pointer;
    position: relative;
}


.galeria-passaros {
            padding: 40px;
            padding-top: 100px;
        }

        .passaro-info{
            height: 260px;
            background-color: white;
            margin-bottom: 200px;
            transition: 0.2s ease-in-out;
           
        }
        .passaro-info .img{
            width: 240em;
            border-radius: 7px;
            align-content: center;
        }

        .passaro-info:hover {
            transform: scale(1.25);
            
        }
        
        .galeria-passaros .link-passaro img {
            width: 100px;
            height: 200px;
        }

        .galeria-passaros img {
            display: block;
            margin: 0 auto;
            border-radius: 4px;
        }

        .galeria-passaros h3{
            color: gray;
            text-align: center;
        }

        .galeria-passaros a, .galeria-passaros a:hover{
          text-decoration: none; /* Remover a underline de link */
        }

        @media(max-width: 768px) {
            body {
                padding: 0;
            }
        }
        #menu-login {
            display: none;
            position: fixed;
            background: hsl(212deg 40% 24% / 80%);
            width: 230px;
            height: 200px;
            z-index: 9999;
            padding: 15px 10px;
            right: 0;
        }

        #li-login:hover #menu-login {
            display: block;
        }

        #menu-login:hover {
            display: block;
        }

        #menu-login input[type="text"],
        #menu-login input[type="password"]{
            width: 100%;
        }
        
        #menu-login input[type="button"]{
            width: 50%;
        }

        #menu-login input[type="password"]{
            -webkit-text-security: disc;
        }


        li.right{
            text-align: right;
        }

        .menu { 
            width: 100%;
            display: inline-block;
            float: none;
        }

        #busca {
            min-width: 60px;
        }

        #li-login{
            text-align: right;
        }

        li.menu-direito{
            width: 100%;
        }

        li.menu-direito ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            display: flex;
            justify-content: right;
        }
       