*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
.details-header{
    height: 396px;
    /* width: 100%; */
    margin: 0 auto;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    */
    background-color: rgba(0,0,0,0.5);
    padding: 28px 20px;
}
.header-content {
    background-color: 0(255, 0, 0, 0.737);
    height: 100%;
}


.test-details{
    width: 100%;
}
.autor-details{
    background-color: 0;
}
.autor-details div{
    display: flex;
    flex-direction: row;
}
.autor-details div div{
    padding-top: 7px;
}
.details-cover{
    height: 100%;
    width: 340px;
    float: left;
    margin-right: 20px;
}
.items-details{
    height: 100%;
}
.details-cover img{
    border-radius: 15px;
}
.tags-details{
    background:0;
}
.desc-details{
    background: 0;
}
.desc-details ul{
    display: flex;
    flex-direction: row;
    list-style: circle;
    gap: 30px;
}
.desc-details li div{
    display: flex;
    flex-direction: row;
}

.desc-details ul li div{
    background-color: 0;
}

.desc-details ul li div div{
    padding-top: 5px;
    font-size: 25px;
}

.button-details {
    background-color:0;
}
.test1{
    display: flex;
    flex-direction: row-reverse;
}
.btn-btn-primary{
    color: #fff;
    background-color: #243b55;
    border-color: #20c2b0;
    padding: 0 40px;
    line-height: 48px;
    border-radius: 30px;
    color: #333;
    border-color: #f0f0f1;
    min-width: 245px;
    text-transform: uppercase;
    white-space: nowrap;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    
    
}