<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/lgo.jpg">
    <link rel="stylesheet" href="arquivosCss/telaPr.css">
    <title>Tela principal</title>
    <link rel="stylesheet" href="resources/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="arquivosCss/telaIN.css">
    
    </head>
<body>
    <div class = "cabecalho">
        <header>
            <nav>
                <ul class="menu">
                    <li><a class="" href="index.html"><img class="logo" src="imagens/lgo.png" style="height: 40px;" /></a></li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">classificações</a></li>
                    <li><a href="#">biblioteca</a></li>
                    <li><a href="#"><i class="iconfont icon-notice"></i><span>Notificações e anuncios</span></a></li>
                    <li class="menu-direito">
                        <ul>
                            <li>
                                <a href="#"><i class="iconfont icon-library"> </i><span>favoritos</span> </a>
                            </li>
                            <li class="right" id="li-busca">
                                <input id="busca" type="text" name="keyword" placeholder="Proucurar" class="form-control">
                            </li>
                            <li class="right" id="li-login">
                                <a id="Login" href="teladeregistro.html">Entrar</a>
                                <div id="menu-login">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="text-align: center">Fazer login</p>
                                            <input type="text" placeholder="usuário">
                                            <input type="password" placeholder="senha">
                                            <input type="button" class="btn btn-primary" value="Login" style="margin: 0 auto;display: block;">
                                            <p style="text-align: center"><a href="teladeregistro.html">Registrar-se</a></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="novel-desc">
        <h1>Supreme Magus</h1>
        <div class="n-attrs">
        <p><i class="iconfont icon-user"></i><a href="/author/works/legion20">Legion20</a></p>
        <p><i class="iconfont icon-country"></i><em>China</em>
        </p>
        </div>
        <div class="novel-labels"><a href="/category/fantasy">Fantasy</a></div>
        <ul class="novel-attr">
        <li>
        <em>Score</em>
        <label>
        <i class="iconfont icon-star"></i>
        <strong>4.8</strong>
        </label>
        </li>
        <li>
        <em>Chapters</em>
        <label>
        <i class="iconfont icon-chapter"></i>
        <strong>1924</strong>
        </label>
        </li>
        <li>
        <em>Browse</em>
        <label>
        <i class="iconfont icon-eye"></i>
        <strong>74195</strong>
        </label>
        </li>
        <li>
        <em>Status</em>
        <label>
        <i class="iconfont icon-status"></i>
        <strong>Ongoing</strong>
        </label>
        </li>
        </ul>
        <div class="header-btns">
        <a class="btn btn-read" href="telaLeit.html"><span>read</span></a>
        <button type="button" class="btn btn-like" data-bookid="239" data-selector="addToLib"><i class="iconfont icon-plus-fill"></i><span>Add To Library</span></button>
        </div>
        </div>
        </div>
        </div>
        <div class="reptile-section">Supreme Magus novel is a popular light novel covering Fantasy genres. Written by the Author Legion20. </div>
        <div class="details-section">
        <dl>
        <dt>synopsis</dt>
        <dd>Derek McCoy was a man that since his youth had to face many adversities. Often forced to settle with surviving rather than living, had finally found his place in the world, until everything was taken from him one last time. After losing his life to avenge his brother, he reincarnates until he finds a world worth living for, a world filled with magic and monsters. Follow him along his journey, from grieving brother to alien soldier. From infant to Supreme Magus.<br /><br />-------------------------------------------<br />Tags: Transmigration, Male MC, Western Fantasy<br />Schedule: 1 chapter per day<br />Chapter Lenght: 1700 - 2000 words but usually are even longer<br />Warning: The MC is not an hero nor an anti-hero. He is a broken, cynic and misanthropic person looking only for his own gain. If you are looking for a forgiving, nice, MC that goes around saving people in distress, this is not your cup of tea.</dd>
        </dl>
        </div>
        <div class="details-section">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5572264542219016" crossorigin="anonymous" type="61e00a3e0738ae2ae62df8ce-text/javascript"></script>
        
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5572264542219016" data-ad-slot="3546592299" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script type="61e00a3e0738ae2ae62df8ce-text/javascript">
             (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="details-section details-swiper">
        <dl>
        <dt>Author's Novels</dt>
        <dd>
        <div class="swiper-container" data-selector="authorNovelSwiper">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
        <i class="bg-masker" style="background-image: url(https://static.panda-novel.com/20213110/SupremeMagus_617e3b7b991dc.jpg);"></i>
        <div class="novel-cover">
        <i style="background-image: url(https://static.panda-novel.com/20213110/SupremeMagus_617e3b7b991dc.jpg);"></i>
        
        
        
        
        </div>
        <div class="novel-desc">
        <h4>Supreme Magus</h4>
        <p class="novel-labels"><em>Fantasy</em></p>
        <p class="novel-text">Derek McCoy was a man that since his youth had to face many adversities. Often forced to settle with surviving rather than living, had finally found his place in the world, until everything was taken from him one last time. After losing his life to avenge his brother, he reincarnates until he finds a world worth living for, a world filled with magic and monsters. Follow him along his journey, from grieving brother to alien soldier. From infant to Supreme Magus.
        -------------------------------------------
        Tags: Transmigration, Male MC, Western Fantasy
        Schedule: 1 chapter per day
        Chapter Lenght: 1700 - 2000 words but usually are even longer
        Warning: The MC is not an hero nor an anti-hero. He is a broken, cynic and misanthropic person looking only for his own gain. If you are looking for a forgiving, nice, MC that goes around saving people in distress, this is not your cup of tea.</p>
        <label>
        <i class="iconfont icon-see"></i>
        <em>73998</em>
        </label>
        </div>
        <a href="/details/supreme-magus(EN)-239" class="mask-link"></a>
        </div>
        </div>
        </div>
        </dd>
        </dl>
        </div>
        <div class="details-section details-tags">
        <dl>
        <dt>Tags</dt>
        <dd>
        <ul class="tags-list"><li><a href="/tag/transmigration">Transmigration</a></li><li><a href="/tag/magic">Magic</a></li><li><a href="/tag/reincarnation">Reincarnation</a></li><li><a href="/tag/male-mc">Male MC</a></li><li><a href="/tag/fantasy">Fantasy</a></li><li><a href="/tag/hidden-gem">Hidden Gem</a></li><li><a href="/tag/western-fantasy">Western Fantasy</a></li></ul>
        </dd>
        </dl>
        </div>
        <div class="details-body">
        <div class="body-content">
        <div class="details-tabs">
        <ul>
        <li :class="{current: tabMode === 1}"><a href="javascript:;" @click="changeTab(1)">Reviews</a></li>
        </ul>
    </div>
    <div class="details-reviews" :class="{actived: tabMode === 1}">
    <div class="reviews-header">
    <div class="header-content">
    <dl>
    <dt>
    <label v-text="reviews.total+' Reviews:'"></label>
    <span>
    <i class="iconfont icon-star"></i>
    <em v-text="Number(reviews.avgStar).toFixed(1)"></em>
    </span>
    </dt>
    <dd>The high-rise building rises from the ground, and it’s worse for you to comment...</dd>
    </dl>
    </div>
    </div>
    <div class="reviews-comment unlogin">
    <dl>
    <dt>
    <label class="star-label">Perview Score</label>
    <div class="star-module" ref="starModule" @mouseenter="doScoreEnter" @mouseleave="doScoreLeave" @mousemove="doScoreMove" @mousedown="doScoreDown">
    <input type="hidden" name="starVal" v-model="perviewScore.value" />
    <div class="s-bg"><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i>
    </div>
    <div class="s-mask" :style="{width: (+perviewScore.value) / 5 * 100 + '%'}"><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i><i class="iconfont icon-star"></i>
    </div>
    <div class="s-val" v-text="(+perviewScore.value).toFixed(1)"></div>
    </div>
    </dt>
    <dd>
    <div class="u-portrait">
    <i style="background-image: url('/static/pc/images/icons/icon-portrait.png');"></i>
    </div>
    <div class="u-contents">
    <div class="limit-textarea" :class="{focus: perviewScore.focus}" :data-count="perviewScore.content.length + ' / ' + 500">
    <textarea name="contents" maxlength="500" v-model="perviewScore.content" class="form-control" placeholder="Please enter what you want to comment on..." @input="limitTextArea" @paste="limitTextArea" @blur="textareaBlur" @focus="textareaFocus"></textarea>
    </div>
    <div class="u-footer">
    <label class="warning-checkbox">
    <input type="checkbox" value="1" v-model="perviewScore.warn" />
    <i class="iconfont icon-yujing"></i>
    </label>
     <button type="button" class="btn-comments" @click="toComments" :disabled="perviewScore.submiting">
    <i class="iconfont icon-bubble"></i>
    <em>comment</em>
    </button>
    </div>
    </div>
    </dd>
    </dl>
    <a href="javascript:;" class="mask-link" @click="toComments"></a>
    </div>
    <div class="reviews-body">
    <div class="reviews-list" v-if="reviews.list.length > 0">
    <div class="review-item" :class="{'unfold': typeof item.fold === 'boolean' && !item.fold}" v-for="(item, i) in reviews.list" :key="i">
    <dl class="root">
    <div class="u-portrait" :class="'gender-'+item.publisher.gender">
    <i :style="{'background-image': 'url(\''+item.publisher.avatar+'\')'}"></i>
    </div>
    <dt>
    <h4>
    <span v-text="item.publisher.userName"></span>
    <label>
    <i class="iconfont icon-star"></i>
    <em v-text="item.star.toFixed(1)"></em>
    </label>
    </h4>
    </dt>
    <dd class="ri-content" v-if="!!item.warn">
    <button type="button" class="btn-warn" @click="item.warn=0"><i class="iconfont icon-yujing"></i><em>Reveal plot warning</em></button>
    </dd>
    <dd class="ri-content" v-if="!item.warn" v-text="item.content"></dd>
    <dd class="ri-footer">
    <div class="ri-l">
    <a href="javascript:;" class="btn btn-view" v-if="item.replyCount > 0 && (typeof item.fold === 'undefined' || !!item.fold)" @click="getReplyData(item)">VIEW {{item.replyCount}} REPLIES</a>
    </div>
    <div class="ri-r">
    <a href="javascript:;" @click="giveGreat(item)" class="btn" :class="{actived: item.zaned}"><i class="iconfont icon-great"></i><span v-text="item.zanCount"></span></a>
    <a href="javascript:;" @click="giveReply(item)" class="btn"><i class="iconfont icon-bubble"></i><span v-text="item.replyCount">60</span></a>
    <label class="btn"><i class="iconfont icon-time"></i><span v-text="$options.filters.timeStampToTimeText(item.createdAt)"></span></label>
    </div>
    </dd>
    </dl>
    <dl class="child" v-if="item.reply" v-for="(r, j) in item.reply" :key="j">
    <div class="u-portrait" :class="'gender-'+r.publisher.gender">
    <i :style="{'background-image': 'url(\''+r.publisher.avatar+'\')'}"></i>
    </div>
    <dt>
    <h4>
    <span v-text="r.publisher.userName"></span>
    </h4>
    </dt>
    <dd class="ri-content" v-text="r.content"></dd>
    <dd class="ri-footer">
    <div class="ri-r">
    
    <label class="btn"><i class="iconfont icon-time"></i><span v-text="$options.filters.timeStampToTimeText(r.createdAt)"></span></label>
    </div>
    </dd>
    </dl>
    <a href="javascript:;" @click="item.fold = true" class="do-fold"><i class="iconfont icon-hide"></i></a>
    </div>
    </div>
    <div class="reviews-btns" v-if="reviews.list.length < reviews.total">
    <a href="javascript:;" @click="getReviewList" class="btn">Load More Reviews</a>
    </div>
    <div class="reviews-btns" v-else style="padding-bottom: 0;"></div>
    </div>
    </div>
</body>
</html>